In [ ]:
# -*- coding: utf-8
# The Intercept Brasil (https://theintercept.com/brasil/)
# Reinaldo Chaves (@paidatocandeira)
# Verifica se sócios ou administradores de empresas encontradas podem ter nomes de milicianos investigados
#

In [1]:
import pandas as pd
import unidecode

Função para retirar acentuação de nomes

In [2]:
def f(str):
    return (unidecode.unidecode(str))

O arquivo gerado em etapas anteriores foi checado, limpo e preenchido manualmente. Carrega o resultado

In [3]:
empres_segur = pd.read_csv("empresas_de_seguranca_consolidado_final.csv",sep=',',encoding = 'utf-8', converters={'cnpj': lambda x: str(x)})

In [4]:
empres_segur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229 entries, 0 to 1228
Data columns (total 30 columns):
cnpj                                1229 non-null object
CNAE_principal                      1176 non-null object
nome_empresa                        1229 non-null object
nome_empresa_maiuscula_minuscula    1004 non-null object
estado                              1004 non-null object
indicador                           1147 non-null float64
documento                           1147 non-null object
qualificacao                        1147 non-null object
socio                               1153 non-null object
socio_maiuscula_minuscula           1008 non-null object
data_abertura                       1229 non-null object
logradouro                          1229 non-null object
numero_logradouro                   1229 non-null object
complemento                         689 non-null object
cep                                 1001 non-null object
bairro                              1227 non-null object
municipio                           1229 non-null object
regiao                              531 non-null object
telefone                            827 non-null object
email                               368 non-null object
situacao                            1229 non-null object
data_situacao_baixa                 498 non-null object
capital_social                      908 non-null object
Unnamed: 23                         2 non-null object
cargo_relacionado_socio             200 non-null object
observacao                          338 non-null object
situacao_funcional                  174 non-null object
sede_situacao                       148 non-null object
armas_autorizadas                   1 non-null object
autorizacao_pf                      254 non-null object
dtypes: float64(1), object(29)
memory usage: 288.1+ KB

Arquivos com nome de indiciados na CPI das Milícias. O relatório com os nomes está aqui: http://www.marcelofreixo.com.br/cpi-das-milicias

In [5]:
milicianos = pd.read_csv("cpi_milicias_indiciados.csv",sep=';',encoding = 'utf-8')

In [6]:
milicianos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 9 columns):
nome             226 non-null object
nome_ajustado    226 non-null object
cargo            94 non-null object
area             226 non-null object
vulgo            85 non-null object
paradeiro        21 non-null object
matricula        4 non-null object
cpf              11 non-null object
rg               13 non-null object
dtypes: object(9)
memory usage: 16.0+ KB

In [7]:
milicianos["nome_ajustado"] = milicianos["nome_ajustado"].apply(f)

In [8]:
milicianos.reset_index().head()

,index,nome,nome_ajustado,cargo,area,vulgo,paradeiro,matricula,cpf,rg
0,0,Alvaro Lins dos Santos,ALVARO LINS DOS SANTOS,Ex-Chefe da Polícia Civil e ex-Deputado Estadu...,Política,NaN,NaN,NaN,NaN,NaN
1,1,Odinei Fernando da Silva,ODINEI FERNANDO DA SILVA,Inspetor,Polícia Civil,“Águia” ou “Zero Um”,Estaria lotado na 22° DP,NaN,NaN,NaN
2,2,Fábio Menezes Leão,FABIO MENEZES LEAO,Inspetor,Polícia Civil,NaN,NaN,NaN,NaN,NaN
3,3,Jairo Mello de Souza,JAIRO MELLO DE SOUZA,Inspetor,Polícia Civil,NaN,NaN,176.401-8,NaN,NaN
4,4,Wallace de Almeida Pires,WALLACE DE ALMEIDA PIRES,Inspetor,Polícia Civil,“Wallace” ou “Robocop”,NaN,NaN,NaN,NaN

Verifica se os nomes estão nas duas listas

In [9]:
encontrados_segura = pd.merge(milicianos, empres_segur, left_on='nome_ajustado', right_on='socio')

In [10]:
encontrados_segura.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 39 columns):
nome                                0 non-null object
nome_ajustado                       0 non-null object
cargo                               0 non-null object
area                                0 non-null object
vulgo                               0 non-null object
paradeiro                           0 non-null object
matricula                           0 non-null object
cpf                                 0 non-null object
rg                                  0 non-null object
cnpj                                0 non-null object
CNAE_principal                      0 non-null object
nome_empresa                        0 non-null object
nome_empresa_maiuscula_minuscula    0 non-null object
estado                              0 non-null object
indicador                           0 non-null float64
documento                           0 non-null object
qualificacao                        0 non-null object
socio                               0 non-null object
socio_maiuscula_minuscula           0 non-null object
data_abertura                       0 non-null object
logradouro                          0 non-null object
numero_logradouro                   0 non-null object
complemento                         0 non-null object
cep                                 0 non-null object
bairro                              0 non-null object
municipio                           0 non-null object
regiao                              0 non-null object
telefone                            0 non-null object
email                               0 non-null object
situacao                            0 non-null object
data_situacao_baixa                 0 non-null object
capital_social                      0 non-null object
Unnamed: 23                         0 non-null object
cargo_relacionado_socio             0 non-null object
observacao                          0 non-null object
situacao_funcional                  0 non-null object
sede_situacao                       0 non-null object
armas_autorizadas                   0 non-null object
autorizacao_pf                      0 non-null object
dtypes: float64(1), object(38)
memory usage: 0.0+ bytes