In [1]:
# -*- coding: utf-8
# The Intercept Brasil (https://theintercept.com/brasil/)
# Reinaldo Chaves (@paidatocandeira)
# Verifica se sócios ou administradores de empresas encontradas são servidores estaduais do RJ
#

In [1]:
import tabula
import pandas as pd

Com uma lista de nomes de servidores estaduais obtida com o governo do Rio vamos extrair os nomes que estão no PDF

Gera CSV do PDF de servidores ativos - é um PDF grande para entrar no github

# Ativos

In [ ]:
dfs = []

for i in range(1,6041, 300):
    print(i, "i inicial")

    i2 = i + 299

    if i2 > 6041:
        i2 = 6041

    print(i)
    print(i2)

    try:
        df = tabula.read_pdf("Ativos_Fevereiro_2018.pdf", encoding='latin-1', spreadsheet=True, pages=(str(i)+'-'+str(i2)), header=0)
        dfs.append(df)
        print('Page ', len(df), ' parsed.')
    except:
        print('Error on page: ', i)

output = pd.concat(dfs)
output.to_csv('servidores_rj_ativos_fev_18.csv', encoding='utf-8', index=False)

In [2]:
servidores_ativos = pd.read_csv("servidores_rj_ativos_fev_18.csv",sep=',',encoding = 'utf-8')

In [3]:
servidores_ativos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211393 entries, 0 to 211392
Data columns (total 3 columns):
Nome                211393 non-null object
Tipo de VÃ­nculo    211393 non-null object
Unnamed: 2          0 non-null float64
dtypes: float64(1), object(2)
memory usage: 4.8+ MB

O arquivo gerado em etapas anteriores foi checado, limpo e preenchido manualmente. Carrega o resultado

In [4]:
empres_segur = pd.read_csv("empresas_de_seguranca_consolidado_final.csv",sep=',',encoding = 'utf-8', converters={'cnpj': lambda x: str(x)})

In [5]:
empres_segur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229 entries, 0 to 1228
Data columns (total 30 columns):
cnpj                                1229 non-null object
CNAE_principal                      1176 non-null object
nome_empresa                        1229 non-null object
nome_empresa_maiuscula_minuscula    1004 non-null object
estado                              1004 non-null object
indicador                           1147 non-null float64
documento                           1147 non-null object
qualificacao                        1147 non-null object
socio                               1153 non-null object
socio_maiuscula_minuscula           1008 non-null object
data_abertura                       1229 non-null object
logradouro                          1229 non-null object
numero_logradouro                   1229 non-null object
complemento                         689 non-null object
cep                                 1001 non-null object
bairro                              1227 non-null object
municipio                           1229 non-null object
regiao                              531 non-null object
telefone                            827 non-null object
email                               368 non-null object
situacao                            1229 non-null object
data_situacao_baixa                 498 non-null object
capital_social                      908 non-null object
Unnamed: 23                         2 non-null object
cargo_relacionado_socio             200 non-null object
observacao                          338 non-null object
situacao_funcional                  174 non-null object
sede_situacao                       148 non-null object
armas_autorizadas                   1 non-null object
autorizacao_pf                      254 non-null object
dtypes: float64(1), object(29)
memory usage: 288.1+ KB

Cruza para encontrar servidores ativos

In [6]:
encontrados_segura = pd.merge(servidores_ativos, empres_segur, left_on='Nome', right_on='socio')

In [7]:
encontrados_segura.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213 entries, 0 to 212
Data columns (total 33 columns):
Nome                                213 non-null object
Tipo de VÃ­nculo                    213 non-null object
Unnamed: 2                          0 non-null float64
cnpj                                213 non-null object
CNAE_principal                      205 non-null object
nome_empresa                        213 non-null object
nome_empresa_maiuscula_minuscula    186 non-null object
estado                              186 non-null object
indicador                           212 non-null float64
documento                           212 non-null object
qualificacao                        212 non-null object
socio                               213 non-null object
socio_maiuscula_minuscula           187 non-null object
data_abertura                       213 non-null object
logradouro                          213 non-null object
numero_logradouro                   213 non-null object
complemento                         129 non-null object
cep                                 157 non-null object
bairro                              213 non-null object
municipio                           213 non-null object
regiao                              74 non-null object
telefone                            150 non-null object
email                               81 non-null object
situacao                            213 non-null object
data_situacao_baixa                 102 non-null object
capital_social                      174 non-null object
Unnamed: 23                         0 non-null object
cargo_relacionado_socio             85 non-null object
observacao                          100 non-null object
situacao_funcional                  85 non-null object
sede_situacao                       70 non-null object
armas_autorizadas                   0 non-null object
autorizacao_pf                      65 non-null object
dtypes: float64(2), object(31)
memory usage: 56.6+ KB

In [8]:
encontrados_segura.reset_index().head()

,index,Nome,Tipo de VÃ­nculo,Unnamed: 2,cnpj,CNAE_principal,nome_empresa,nome_empresa_maiuscula_minuscula,estado,indicador,...,situacao,data_situacao_baixa,capital_social,Unnamed: 23,cargo_relacionado_socio,observacao,situacao_funcional,sede_situacao,armas_autorizadas,autorizacao_pf
0,0,CARLOS ALBERTO DIAS,EFETIVO/CONCURSO PÃBLICO,NaN,57808685000114,80.11-1-01,SECMIN SEGURANCA S C LTDA - ME,Secmin Seguranca S C Ltda - Me,Rio de Janeiro,2.0,...,ATIVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,CARLOS ALBERTO DIAS,EFETIVO/CONCURSO PÃBLICO,NaN,57808685000114,80.11-1-01,SECMIN SEGURANCA S C LTDA - ME,Secmin Seguranca S C Ltda - Me,Rio de Janeiro,2.0,...,ATIVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,LUIZ CARLOS DA SILVA,EFETIVO/CONCURSO PÃBLICO,NaN,18162429000140,80.11-1-01,KANSAS SECURITY SEGURANCA E VIGILANCIA LTDA ...,Kansas Security Seguranca E Vigilancia Ltda ...,Rio de Janeiro,2.0,...,ATIVA,NaN,110000,NaN,NaN,NaN,NaN,NaN,NaN,Autorizada
3,3,LUIZ CARLOS DA SILVA,EFETIVO/CONCURSO PÃBLICO,NaN,18162429000140,80.11-1-01,KANSAS SECURITY SEGURANCA E VIGILANCIA LTDA ...,Kansas Security Seguranca E Vigilancia Ltda ...,Rio de Janeiro,2.0,...,ATIVA,NaN,110000,NaN,NaN,NaN,NaN,NaN,NaN,Autorizada
4,4,LUIZ CARLOS DA SILVA,EFETIVO/CONCURSO PÃBLICO,NaN,18162429000140,80.11-1-01,KANSAS SECURITY SEGURANCA E VIGILANCIA LTDA ...,Kansas Security Seguranca E Vigilancia Ltda ...,Rio de Janeiro,2.0,...,ATIVA,NaN,110000,NaN,NaN,NaN,NaN,NaN,NaN,Autorizada

In [11]:
encontrados_segura.to_csv('encontrados_servidores_rj_ativos_fev_18.csv', encoding='utf-8', index=False)

Esses nomes depois serão checados manualmente

# Inativos

Extrai CSV do PDF de servidores aposentados

In [ ]:
dfs = []

for i in range(1,4659, 300):
    print(i, "i inicial")

    i2 = i + 299

    if i2 > 4659:
        i2 = 4659

    print(i)
    print(i2)

    try:
        df = tabula.read_pdf("Aposentados_Fevereiro_2018.pdf", encoding='latin-1', spreadsheet=True, pages=(str(i)+'-'+str(i2)), header=0)
        dfs.append(df)
        print('Page ', len(df), ' parsed.')
    except:
        print('Error on page: ', i)

output = pd.concat(dfs)
output.to_csv('servidores_rj_aposentados_fev_18.csv', encoding='utf-8', index=False)

In [9]:
servidores_aposentados = pd.read_csv("servidores_rj_aposentados_fev_18.csv",sep=',',encoding = 'utf-8')

In [10]:
servidores_aposentados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163044 entries, 0 to 163043
Data columns (total 3 columns):
Nome                163044 non-null object
Tipo de VÃ­nculo    163044 non-null object
Unnamed: 2          0 non-null float64
dtypes: float64(1), object(2)
memory usage: 3.7+ MB

Cruza para encontrar servidores ativos

In [11]:
encontrados_segura2 = pd.merge(servidores_aposentados, empres_segur, left_on='Nome', right_on='socio')

In [12]:
encontrados_segura2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163 entries, 0 to 162
Data columns (total 33 columns):
Nome                                163 non-null object
Tipo de VÃ­nculo                    163 non-null object
Unnamed: 2                          0 non-null float64
cnpj                                163 non-null object
CNAE_principal                      157 non-null object
nome_empresa                        163 non-null object
nome_empresa_maiuscula_minuscula    139 non-null object
estado                              139 non-null object
indicador                           162 non-null float64
documento                           162 non-null object
qualificacao                        162 non-null object
socio                               163 non-null object
socio_maiuscula_minuscula           139 non-null object
data_abertura                       163 non-null object
logradouro                          163 non-null object
numero_logradouro                   163 non-null object
complemento                         78 non-null object
cep                                 114 non-null object
bairro                              163 non-null object
municipio                           163 non-null object
regiao                              72 non-null object
telefone                            88 non-null object
email                               38 non-null object
situacao                            163 non-null object
data_situacao_baixa                 54 non-null object
capital_social                      114 non-null object
Unnamed: 23                         0 non-null object
cargo_relacionado_socio             76 non-null object
observacao                          83 non-null object
situacao_funcional                  75 non-null object
sede_situacao                       56 non-null object
armas_autorizadas                   1 non-null object
autorizacao_pf                      52 non-null object
dtypes: float64(2), object(31)
memory usage: 43.3+ KB

In [7]:
encontrados_segura2.to_csv('encontrados_servidores_rj_aposentados_fev_18.csv', encoding='utf-8', index=False)

Esses nomes depois serão checados manualmente