In [28]:
# -*- coding: utf-8
# The Intercept Brasil (https://theintercept.com/brasil/)
# Reinaldo Chaves (@paidatocandeira)
# Gera algumas estatísticas a partir do arquivo final gerado de empresas de segurança privada
#

In [29]:
import pandas as pd
import unidecode

In [30]:
# Função para retirar acentuação 
def f(str):
    return (unidecode.unidecode(str))

O arquivo gerado em etapas anteriores foi checado, limpo e preenchido manualmente. Carrega o resultado

In [31]:
consolidado = pd.read_csv("empresas_de_seguranca_consolidado_final.csv",sep=',',encoding = 'utf-8', converters={'cnpj': lambda x: str(x)})

In [32]:
consolidado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229 entries, 0 to 1228
Data columns (total 30 columns):
cnpj                                1229 non-null object
CNAE_principal                      1176 non-null object
nome_empresa                        1229 non-null object
nome_empresa_maiuscula_minuscula    1004 non-null object
estado                              1004 non-null object
indicador                           1147 non-null float64
documento                           1147 non-null object
qualificacao                        1147 non-null object
socio                               1153 non-null object
socio_maiuscula_minuscula           1008 non-null object
data_abertura                       1229 non-null object
logradouro                          1229 non-null object
numero_logradouro                   1229 non-null object
complemento                         689 non-null object
cep                                 1001 non-null object
bairro                              1227 non-null object
municipio                           1229 non-null object
regiao                              531 non-null object
telefone                            827 non-null object
email                               368 non-null object
situacao                            1229 non-null object
data_situacao_baixa                 498 non-null object
capital_social                      908 non-null object
Unnamed: 23                         2 non-null object
cargo_relacionado_socio             200 non-null object
observacao                          338 non-null object
situacao_funcional                  174 non-null object
sede_situacao                       148 non-null object
armas_autorizadas                   1 non-null object
autorizacao_pf                      254 non-null object
dtypes: float64(1), object(29)
memory usage: 288.1+ KB

Quantidade de CNPJs

In [33]:
a = len(consolidado['cnpj'].value_counts())
a

638

Limpa cidades

In [34]:
def limpeza2(linha):
    cidade = linha["municipio"]
    if cidade == 'DUQUE DE CAXIAS' or cidade == 'Duque de Caxias':
        return "DUQUE DE CAXIAS"
    
    elif cidade == "NITEROI" or cidade == "NITERÓI" or cidade == 'Niterói':
        return "NITEROI"
    
    elif cidade == "NOVA IGUACU" or cidade == "NOVA IGUAÇU" or cidade == 'Nova Iguaçu':
        return "NOVA IGUACU"
    
    elif cidade == "RIO DE JANEIRO" or cidade == 'Rio de Janeiro':
        return "RIO DE JANEIRO"
      
    elif cidade == "SAO GONCALO" or cidade == "São Gonçalo":
        return "SAO GONCALO"
    
    elif cidade == "SAO JOAO DE MERITI" or cidade == 'São João de Meriti':
        return "SAO JOAO DE MERITI"
    
    else:
        return cidade

In [35]:
consolidado["municipio"] = consolidado['municipio'].apply(lambda x: x.strip())
consolidado["municipio"] = consolidado.apply(limpeza2, axis=1)
consolidado.groupby("municipio").cnpj.count().reset_index()

            municipio  cnpj
0     DUQUE DE CAXIAS    95
1           NILOPOLIS     2
2             NITEROI    48
3         NOVA IGUACU    44
4           Nilópolis     2
5      RIO DE JANEIRO   949
6         SAO GONCALO    53
7  SAO JOAO DE MERITI    36

In [36]:
a = len(consolidado['cnpj'].value_counts())
a

638

Seleciona cidades

In [38]:
consolidado = consolidado[(consolidado['municipio'] == 'DUQUE DE CAXIAS') | (consolidado['municipio'] == 'NITEROI') | (consolidado['municipio'] == 'NOVA IGUACU') |  (consolidado['municipio'] == 'RIO DE JANEIRO') | (consolidado['municipio'] == 'SAO GONCALO') | (consolidado['municipio'] == 'SAO JOAO DE MERITI')]

In [39]:
consolidado.groupby("municipio").cnpj.count().reset_index()

            municipio  cnpj
0     DUQUE DE CAXIAS    95
1             NITEROI    48
2         NOVA IGUACU    44
3      RIO DE JANEIRO   949
4         SAO GONCALO    53
5  SAO JOAO DE MERITI    36

In [40]:
a = len(consolidado['cnpj'].value_counts())
a

636

Limpa os cargos relacionados dos sócios com funções de segurança

In [41]:
consolidado.groupby("cargo_relacionado_socio").count().reset_index()

,cargo_relacionado_socio,cnpj,CNAE_principal,nome_empresa,nome_empresa_maiuscula_minuscula,estado,indicador,documento,qualificacao,socio,...,email,situacao,data_situacao_baixa,capital_social,Unnamed: 23,observacao,situacao_funcional,sede_situacao,armas_autorizadas,autorizacao_pf
0,Administração Penitenciária,10,9,10,9,9,9,9,9,9,...,3,10,4,7,2,10,9,4,0,3
1,Advogado criminal,1,0,1,1,1,1,1,1,1,...,0,1,0,1,0,1,0,0,0,0
2,Aeronáutica,1,1,1,0,0,1,1,1,1,...,0,1,0,0,0,1,0,0,0,0
3,Agente penitenciário,1,1,1,0,0,0,0,0,0,...,1,1,0,1,0,1,1,0,0,0
4,Bombeiros,7,7,7,3,3,6,6,6,6,...,2,7,2,5,0,7,7,6,0,0
5,Checar,1,1,1,1,1,1,1,1,1,...,0,1,0,1,0,1,0,0,0,0
6,Degase,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,2,2,2,0,0
7,Empresário,5,5,5,5,5,5,5,5,5,...,2,5,0,4,0,5,0,0,0,4
8,Empresário - ligado a policial civil,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,1,0,1,0,1
9,Exército,8,6,8,8,8,8,8,8,8,...,3,8,4,8,0,7,3,3,0,1
10,LIGADA A POLÍTICO,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,0,1,0,1
11,LIGAÇÃO COM POLÍTICO,1,1,1,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
12,MONITOR DE ESPORTE,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,0,0,0,0
13,Marinha,2,1,2,2,2,2,2,2,2,...,0,2,1,2,0,2,1,2,0,0
14,Policial Militar,3,3,3,2,2,2,2,2,2,...,2,3,1,3,0,3,3,3,0,0
15,Polícia Civil,56,55,56,51,51,56,56,56,56,...,21,56,18,37,0,55,55,40,0,19
16,Polícia Civil,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,1,1,0,0,1
17,Polícia Federal,4,4,4,4,4,4,4,4,4,...,4,4,3,4,0,4,0,3,0,4
18,Polícia Militar,89,85,89,72,72,84,84,84,87,...,21,89,36,71,0,89,89,71,1,25
19,Polícia Militar.,1,0,1,1,1,1,1,1,1,...,0,1,0,1,0,1,1,1,0,0
20,Polícia Miltar,1,1,1,1,1,1,1,1,1,...,0,1,1,1,0,1,1,1,0,0
21,Polícia militar,1,1,1,1,1,1,1,1,1,...,0,1,0,1,0,1,1,1,0,0
22,Secretário de Segurança,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,0,1,0,0

In [42]:
def limpeza(linha):
    cargo = linha["cargo_relacionado_socio"]
    if cargo == 'Administração Penitenciária':
        return "Administracao Penitenciaria"
    
    elif cargo == "Aeronáutica":
        return "Aeronautica"
    
    elif cargo == "Agente penitenciário":
        return "Agente penitenciario"
    
    elif cargo == "Empresário - ligado a policial civil":
        return "Empresario - ligado a policial civil"
    
    elif cargo == "Exército":
        return "Exercito"
    
    elif cargo == "Policial Militar":
        return "Policia Militar"
    
    elif cargo == "Polícia Civil":
        return "Policia Civil"
    
    elif cargo == "Polícia Civil ":
        return "Policia Civil" 
    
    elif cargo == "Polícia Federal":
        return "Policia Federal"
    
    elif cargo == "Polícia Militar":
        return "Policia Militar"
    
    elif cargo == "Polícia Militar.":
        return "Policia Militar"
    
    elif cargo == "Polícia Miltar" or cargo == "Polícia militar":
        return "Policia Militar"
    
    elif cargo == "Secretário de Segurança":
        return "Secretario de Seguranca"
    else:
        return cargo

In [43]:
consolidado["cargo_relacionado_socio"] = consolidado.apply(limpeza, axis=1)

In [44]:
consolidado.groupby("cargo_relacionado_socio").cnpj.count().reset_index()

                 cargo_relacionado_socio  cnpj
0            Administracao Penitenciaria    10
1                      Advogado criminal     1
2                            Aeronautica     1
3                   Agente penitenciario     1
4                              Bombeiros     7
5                                 Checar     1
6                                 Degase     2
7   Empresario - ligado a policial civil     1
8                             Empresário     5
9                               Exercito     8
10                     LIGADA A POLÍTICO     1
11                  LIGAÇÃO COM POLÍTICO     1
12                    MONITOR DE ESPORTE     1
13                               Marinha     2
14                         Policia Civil    57
15                       Policia Federal     4
16                       Policia Militar    95
17               Secretario de Seguranca     1

In [45]:
consolidado.to_csv('empresas_de_seguranca_consolidado_final_nomes.csv', index=False)

Seleciona policiais e afins de segurança

In [46]:
policiais = consolidado[(consolidado['cargo_relacionado_socio'] == 'Administracao Penitenciaria') | 
                        (consolidado['cargo_relacionado_socio'] == 'Aeronautica') | 
                        (consolidado['cargo_relacionado_socio'] == 'Agente penitenciario') |  
                        (consolidado['cargo_relacionado_socio'] == 'Bombeiros') | 
                        (consolidado['cargo_relacionado_socio'] == 'Empresario - ligado a policial civil') | 
                        (consolidado['cargo_relacionado_socio'] == 'Exercito') | 
                        (consolidado['cargo_relacionado_socio'] == 'Marinha') | 
                        (consolidado['cargo_relacionado_socio'] == 'Policia Civil') |  
                        (consolidado['cargo_relacionado_socio'] == 'Policia Federal') | 
                        (consolidado['cargo_relacionado_socio'] == 'Policia Militar') | 
                        (consolidado['cargo_relacionado_socio'] == 'Secretario de Seguranca')]

In [47]:
policiais.groupby("cargo_relacionado_socio").cnpj.count().reset_index()

                 cargo_relacionado_socio  cnpj
0            Administracao Penitenciaria    10
1                            Aeronautica     1
2                   Agente penitenciario     1
3                              Bombeiros     7
4   Empresario - ligado a policial civil     1
5                               Exercito     8
6                                Marinha     2
7                          Policia Civil    57
8                        Policia Federal     4
9                        Policia Militar    95
10               Secretario de Seguranca     1

In [48]:
policiais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187 entries, 59 to 1226
Data columns (total 30 columns):
cnpj                                187 non-null object
CNAE_principal                      177 non-null object
nome_empresa                        187 non-null object
nome_empresa_maiuscula_minuscula    157 non-null object
estado                              157 non-null object
indicador                           178 non-null float64
documento                           178 non-null object
qualificacao                        178 non-null object
socio                               181 non-null object
socio_maiuscula_minuscula           160 non-null object
data_abertura                       187 non-null object
logradouro                          187 non-null object
numero_logradouro                   187 non-null object
complemento                         99 non-null object
cep                                 129 non-null object
bairro                              187 non-null object
municipio                           187 non-null object
regiao                              123 non-null object
telefone                            108 non-null object
email                               58 non-null object
situacao                            187 non-null object
data_situacao_baixa                 71 non-null object
capital_social                      142 non-null object
Unnamed: 23                         2 non-null object
cargo_relacionado_socio             187 non-null object
observacao                          185 non-null object
situacao_funcional                  172 non-null object
sede_situacao                       137 non-null object
armas_autorizadas                   1 non-null object
autorizacao_pf                      54 non-null object
dtypes: float64(1), object(29)
memory usage: 45.3+ KB

In [90]:
policiais.to_csv('policiais_consolidado.csv', index=False)

Empresas nas cidades

In [49]:
df = consolidado[(consolidado['municipio'] == 'DUQUE DE CAXIAS')]
a = len(df['cnpj'].value_counts())
a

51

In [50]:
df = consolidado[(consolidado['municipio'] == 'NITEROI')]
a = len(df['cnpj'].value_counts())
a

28

In [51]:
df = consolidado[(consolidado['municipio'] == 'RIO DE JANEIRO')]
a = len(df['cnpj'].value_counts())
a

487

In [52]:
df = consolidado[(consolidado['municipio'] == 'NOVA IGUACU')]
a = len(df['cnpj'].value_counts())
a

24

In [53]:
df = consolidado[(consolidado['municipio'] == 'SAO GONCALO')]
a = len(df['cnpj'].value_counts())
a

26

In [97]:
df = consolidado[(consolidado['municipio'] == 'SAO JOAO DE MERITI')]
a = len(df['cnpj'].value_counts())
a

20

Empresas de policiais ou ex-policiais

In [54]:
a = len(policiais['cnpj'].value_counts())
a

162

In [55]:
a = len(policiais['socio'].value_counts())
a

179

Empresas em geral

In [57]:
a = len(consolidado['cnpj'].value_counts())
a

636

Empresas em geral com autorização da PF

In [58]:
df = consolidado[(consolidado['autorizacao_pf'] == 'Autorizada')]
a = len(df['cnpj'].value_counts())
a

123

Empresas de policiais e no Rio

In [59]:
df = policiais[(policiais['municipio'] == 'RIO DE JANEIRO')]
a = len(df['cnpj'].value_counts())
a

129

Região Oeste - área com mais milícias

In [64]:
consolidado.groupby("regiao").cnpj.count().reset_index() # linhas

               regiao  cnpj
0              centro    75
1  ilha do governador     7
2               norte   214
3               oeste   212
4                 sul    23

In [61]:
oeste = consolidado[(consolidado['regiao'] == 'oeste')]

In [62]:
a = len(oeste['cnpj'].value_counts())
a

188

De policiais

In [63]:
oestep = policiais[(policiais['regiao'] == 'oeste')]
a = len(oestep['cnpj'].value_counts())
a

46

Verifica policias com servidores aposentados e ativos

In [65]:
servidores_aposentados = pd.read_csv("servidores_rj_aposentados_fev_18.csv",sep=',',encoding = 'utf-8')

In [66]:
servidores_aposentados["Nome"] = servidores_aposentados["Nome"].str.strip()

In [67]:
policiais_s = policiais[pd.notnull(policiais['socio'])]

In [68]:
policiais_s["socio"] = policiais_s["socio"].apply(f)

/home/reinaldo/Documentos/Code/intercept/seguranca/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [69]:
encontrados_segura = pd.merge(servidores_aposentados, policiais_s, left_on='Nome', right_on='socio')

In [70]:
a = len(encontrados_segura['Nome'].value_counts())
a

71

In [71]:
encontrados_segura.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 0 to 74
Data columns (total 33 columns):
Nome                                75 non-null object
Tipo de VÃ­nculo                    75 non-null object
Unnamed: 2                          0 non-null float64
cnpj                                75 non-null object
CNAE_principal                      72 non-null object
nome_empresa                        75 non-null object
nome_empresa_maiuscula_minuscula    63 non-null object
estado                              63 non-null object
indicador                           74 non-null float64
documento                           74 non-null object
qualificacao                        74 non-null object
socio                               75 non-null object
socio_maiuscula_minuscula           63 non-null object
data_abertura                       75 non-null object
logradouro                          75 non-null object
numero_logradouro                   75 non-null object
complemento                         38 non-null object
cep                                 54 non-null object
bairro                              75 non-null object
municipio                           75 non-null object
regiao                              48 non-null object
telefone                            40 non-null object
email                               17 non-null object
situacao                            75 non-null object
data_situacao_baixa                 28 non-null object
capital_social                      53 non-null object
Unnamed: 23                         0 non-null object
cargo_relacionado_socio             75 non-null object
observacao                          75 non-null object
situacao_funcional                  75 non-null object
sede_situacao                       56 non-null object
armas_autorizadas                   1 non-null object
autorizacao_pf                      22 non-null object
dtypes: float64(2), object(31)
memory usage: 19.9+ KB

In [72]:
servidores_ativos = pd.read_csv("servidores_rj_ativos_fev_18.csv",sep=',',encoding = 'utf-8')

In [73]:
servidores_ativos["Nome"] = servidores_ativos["Nome"].str.strip()

In [74]:
encontrados_segura2 = pd.merge(servidores_ativos, policiais_s, left_on='Nome', right_on='socio')

In [75]:
a = len(encontrados_segura2['Nome'].value_counts())
a

76

Total de policiais, bombeiros e agentes penitenciários

In [76]:
policiais2 = consolidado[(consolidado['cargo_relacionado_socio'] == 'Administracao Penitenciaria') | (consolidado['cargo_relacionado_socio'] == 'Agente penitenciario') |  (consolidado['cargo_relacionado_socio'] == 'Bombeiros') | (consolidado['cargo_relacionado_socio'] == 'Policia Civil') | (consolidado['cargo_relacionado_socio'] == 'Policia Federal') | (consolidado['cargo_relacionado_socio'] == 'Policia Militar') ]

In [77]:
a = len(policiais2['socio'].value_counts())
a

166

Total de agentes em geral

In [79]:
a = len(policiais['socio'].value_counts())
a

179

Empresas de segurança com sócios agentes de segurança que não têm autorização da PF

In [80]:
df = policiais[(policiais['autorizacao_pf'] != 'Autorizada')]
a = len(df['cnpj'].value_counts())
a

122

Com autorização

In [81]:
df = policiais[(policiais['autorizacao_pf'] == 'Autorizada')]
a = len(df['cnpj'].value_counts())
a

40

Empresas de segurança com sócios agentes de segurança localizados na Zona Oeste, e sem autorização da PF

In [82]:
oestep = policiais[(policiais['regiao'] == 'oeste')]
a = len(oestep['cnpj'].value_counts())
a

46

In [83]:
oestep_1 = oestep[(oestep['autorizacao_pf']  != 'Autorizada')]
a = len(oestep_1['cnpj'].value_counts())
a

44

Empresas de segurança em geral com autorização da PF

In [84]:
a = len(consolidado['cnpj'].value_counts())
a

636

In [85]:
a = consolidado[(consolidado['autorizacao_pf'] == 'Autorizada')]
a = len(a['cnpj'].value_counts())
a

123